[submodule "Hazel/vendor/spdlog"]
	path = Hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Lanna/vendor/GLFW"]
	path = Lanna/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
